[submodule "doc/manual.src/opa_bindings_examples"]
	path = doc/manual.src/opa_bindings_examples
	url = https://github.com/MLstate/opa_bindings_examples.git
	ignore = untracked
[submodule "doc/manual.src/hello_recaptcha"]
	path = doc/manual.src/hello_recaptcha
	url = https://github.com/MLstate/hello_recaptcha.git
	ignore = untracked
[submodule "doc/manual.src/hello-opa"]
	path = doc/manual.src/hello-opa
	url = https://github.com/MLstate/hello-opa.git
	ignore = untracked
[submodule "doc/manual.src/hello_wiki"]
	path = doc/manual.src/hello_wiki
	url = https://github.com/MLstate/hello_wiki.git
	ignore = untracked
[submodule "doc/manual.src/hello_web_services"]
	path = doc/manual.src/hello_web_services
	url = https://github.com/MLstate/hello_web_services.git
	ignore = untracked
[submodule "doc/manual.src/hello_chat"]
	path = doc/manual.src/hello_chat
	url = https://github.com/MLstate/hello_chat.git
	ignore = untracked
