/***Header***/
#logo {
  background: url("/resources/opa-logo.png") no-repeat scroll 0 0 transparent;
  height: 32px;
  margin: 10px 0 5px;
  width: 61px;
}

/***Conversation***/
#conversation {
  margin-top:58px;
  margin-bottom:40px;
  overflow:auto;
}
.line {
  border-bottom:1px solid #ddd;
  padding-bottom:8px;
  margin-bottom:8px !important;
}
.user, .message {padding-top:8px;}
.userpic {
  background: url("/resources/user.png") no-repeat 0 0;
  height: 40px;
  width:40px;
}
.user {color: #000;font-weight:bold;}
.message{color:#666;}

/***Footer***/
#footer {
  background:#eee;
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  padding:10px 0;
  text-align:left;
}



