/***Header***/
#logo {
     background: url("/resources/opa-logo.png") no-repeat scroll 0 0 transparent;
     height: 41px;
     margin: 5px 0 15px;
     width: 100px;
}

/***Conversation***/
#conversation {
     background: none repeat scroll 0% 0% transparent;
}

.line {
     background: url("/resources/user.png") no-repeat 5px 5px;
     min-height: 40px;
}
.line:after {
    border-bottom: 1px solid #FFF;
    content:"";
    display:block;
    position:relative;
    top:25px;
}

.user {color: #B30A0A;font-variant:small-caps;}
.message{color:#252525;}

/***Footer***/
#footer {
    background:#E4E1D8;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    padding:10px 0;
    text-align:left;
}



