* {
     margin: 0;
     padding: 0;
}

body {
  color: #000000;
  text-shadow: 0 1px 0 #FFFFFF;
  font: 12px/12px "Lucida Grande", Arial, sans-serif;
  text-align: left;
}

* a, * a:hover, a, a:hover {cursor: pointer;}

a, a:link, a:visited {color: #2a658e;text-decoration: none;}

a:hover {color: #3887bd;text-decoration: underline;}

a:active {color: #215171;}

h1, h2, h3, h4, h5, h6 {line-height: 1.2em;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: inherit;text-decoration: underline;}
h1 {
  color: #000000;
  display: block;
  font: bold 1.8em/1em "Lucida Grande", Arial, sans-serif;
  padding: 1em 0;
  letter-spacing: -0.01em;
}
h2 {
  color: #45494D;
  font: normal 1.7em/1.2em "Lucida Grande", Arial, sans-serif;
  padding: 0.3em 0;
}
h3 {
  color: #B30A0A;
  font: normal 1.6em/1.2em "Lucida Grande",Arial,sans-serif;
  padding: 0.3em 0;
}
h4 {
  color: #969692;
  font: normal 1.5em/1.2em "Lucida Grande",Arial,sans-serif;
  padding: 0.5em 0;
}
h5 {
  color: #B30A0A;
  font: normal 1.2em/1.3em "Lucida Grande",Arial,sans-serif;
  padding: 0.5em 0;
}
h6 {
  color: #969692;
  font: normal 1.2em/1.2em Georgia, Cambria, Times,serif;
  font-style: italic;
  padding: 0.5em 0;
}
p {margin: 10px 0;}