/***Header***/
#logo {
  background: url("/resources/opa-logo.png") no-repeat scroll 0 0 transparent;
  height: 32px;
  margin: 7px 0 -15px;
  width: 61px;
}
/***Editing area***/
.content {margin-top:60px;}
#edit_content {
  width:100%;
  display: none; /* initially hidden */
}
