/***Header***/
#logo {
  background: url("/resources/opa-logo.png") no-repeat scroll 0 0 transparent;
  height: 32px;
  margin: 10px 0 5px;
  width: 61px;
}
/***Editing area***/
.content {margin-top:60px;}
.edit_content {
     background: #fcfcfc;
     padding:0;
     width:100%;
}
dt {
    font-weight: bold;
}

dd {
    text-indent: 5px;
}
