@media screen {
  body {
      color:#252525;
      line-height:1.4em;
      font-weight: normal;
      font-family: serif;
      text-shadow: 0 1px 0 white;
      text-align:left;
      background: #F2F2ED;
  }
  html {
      background: #F2F2ED;
  }
  * {
      margin: 0;
      padding: 0;
  }
  div.admonitionblock {
      margin-top: 15px;
  }
  .imageblock img {
      border: 1px dotted black;
  }
  div.listingblock div.title {
      font-weight:bold
  }
a, a:link, a:visited {color: #0B67B2;text-decoration: none;}
a:hover {color: #0B4D86;text-decoration: underline;}
a:active {color: #B30A0A;}

ul, ol { margin: 0 0 1.5em 0; }
ul li, ol li {list-style-type: disc;margin:0;}
ul li ul, ol li ol {margin-left:20px;}
ul, ol {list-style-image: none;  list-style-position: inside;}

ul > li {color: #B6B6B2;}
ul > li >* {color: #252525;}
button {padding: 2px 6px 3px 6px;}
table {
  border-collapse: collapse;
  margin: 5px 0;
  width: 100%;
}
table td {vertical-align:top;border-bottom: 1px solid #c6c6c2;padding: 3px;color: #767672;font-size:0.9em;}
table td.icon {width:7%;}
table td.icon .title {
  background: #B30A0A;
  text-align:center;
  color:white;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
  -moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
  text-shadow: 0 1px 0 #777777;
}
table td.icon:after {border:none;}
table td.content {padding-left:10px;}
table td.content .title {font-variant:small-caps;font-size:1.2em;color:#B30A0A;}
table td:after {border-bottom: 1px solid #FFF;content:"";position:relative;top:5px;display:block;}
p {margin: 1em 0;}
li p, td p {display:inline;}
h1 {color:#000; font-size: 3em; line-height:1.5em; margin: 0.7em 0; }
h2 {color:#B30A0A; font-size: 2.5em; line-height:1.4em; margin: 1em 0 0.5em 0;}
h3, #toctitle {color:#000; font-size: 1.5em; line-height:1em; margin: 1em 0;}
h4 {color:#969692; font-size: 1.3em; line-height:1em; margin: 0.5em 0;}
h5 {color:#B30A0A; font-size: 1.25em; line-height:1.2em; margin: 0 0 0.5em 0;}
h1, h2, h3, h4, h5 {font-family: "proxima-nova", "Avenir", "Futura", "Helvetica", "Arial", sans-serif;font-weight: normal;}
div.sectionbody { padding-top:10px;}
img {
  position:relative;
  margin:10px auto; 
  text-align:center;
  display:block;
}

#header,#footer {
  position: relative;
  text-align: center;
}
#footer {
  width:100%;
}
#header {
    background:url('oni.png') no-repeat 90% 6%;
    border-bottom:1px solid #c6c6c2;
    width:1000px;    width:1000px;
    margin: 0 auto;
}
#header h1{ border-bottom:1px solid #c6c6c2;}

#content, #footer-text, #toc {
  position: relative;
  text-align: left;
  width:1000px;
  padding:10px 0;
}
#content, #footer-text {
  margin: 0 auto;
}
#toc {
  width: 80%;
  margin: 0 10%;
}
  .left {
      text-align: left;
  }
  .right {
      text-align: right;
  }


#footer {background: #B6B6B2; color:#eee; border-top:1px solid #999; text-shadow: 0 -1px 0 #999;}

/*
pre {
  background:#FFF;
  margin:5px 0;
  padding: 3px;
  color: #767672;
  border-color: #C6C6C2;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  width:990px;
  overflow:auto;
  font-size:0.9em;
}
*/
  pre {
   font-size: 90%;
   font-weight: bold;
   line-height: 120%;
   padding-top: 0.5em;
   padding-bottom: 0.5em;
   padding-left: 1em;
   padding-right: 1em;
   border-style: solid;
   border-left-width: 1em;
   border-top-width: thin;
   border-right-width: thin;
   border-bottom-width: thin;
   border-color: #95ABD0;
   color: #00428C;
   background-color: #FFF;
   margin: 0px;
   max-height: 500px;
   overflow: auto;
  }
/* #preamble {position: absolute;right: 0;top: -370px;} */
.toctitle {color:#969692;}
.toclevel1 {font-size:1.2em; margin-top:10px;}
.toclevel2 {margin-left:20px;}
.toclevel3 {margin-left:40px;}
.toclevel4 {margin-left:80px;}
}

/**
 * Print style sheet.
 */
@media print {
/**
 * {1 General stuff}
 */

  html {
  }
  body {
      color:       #252525;
      line-height: 1.4em;
      font-weight: normal;
      font-family: serif;
      text-shadow: 0 1px 0 white;
      text-align:  left;
      width:       20cm;
  }
  * {
      margin:  0;
      padding: 0;
  }
  #header, #footer {
      display:none;
  }
  #footnotes {
      page-break-before:always;
  }
  img {
      page-break-inside:avoid;
      position:relative;
      margin:10px auto;
      text-align:center;
      display:block;
  }

  a, a:link, a:visited {
      color:           #0B67B2;
      text-decoration: none;
      display:         inline;
      font-style:      italic;
  }
  ul, ol { margin: 0 0 1.5em 0; }
  ul li, ol li {list-style-type: disc;margin:0;}
  ul li ul, ol li ol {margin-left:20px;}
  ul, ol {list-style-image: none;  list-style-position: inside;}
  ul > li {color: #B6B6B2;}
  ul > li >* {color: #252525;}


/**
 * {1 Listings}
 */

  pre {
      font-size: small;
      overflow:  hidden;/*Do not remove this: otherwise, wkhtmltopdf will adjust margin&font size arbitrarily to
                          print <pre>, which generally breaks everything else.*/
      background:#FFF;
      margin:0px 1.5cm;
      padding: 3px;
      color: #767672;
      border-color: #C6C6C2;
      border-style: solid;
      border-width: 1px 1px 1px 5px;
      line-height:  1.2em;
      -webkit-box-shadow:1pt 1pt 5px #aaa;
  }

  div.listingblock div.title {
      font-weight:     bold;
      page-break-after:avoid;
  }
  div.listingblock {
      margin-left:      auto;
      margin-right:     auto;
      margin-bottom:    1cm;
      margin-top:       1cm;
      page-break-inside:avoid;
      width:            95%;
  }

/**
 * {1 Sections}
 */
  body{
      counter-reset: part;
  }
  h1:before {
      counter-increment: part;
      content: counter(part, upper-roman) ". ";
  }
  h1 {
      color:      #000;
      font-size:  3em;
      line-height:1.5em;
      margin:     0 0 0.7em 0;
      page-break-before:left;
      margin-top:       12cm;
      padding-top:      12cm;
  }
  h2 {
      page-break-before:always;
      color:       #B30A0A;
      font-size:   2.5em;
      line-height: 1.4em;
      border-top:  solid;
  }
  h3 {
      color:#000;
      font-size: 1.5em;
      line-height:1em;
      margin: 1em 0;
  }
  h4 {
      color:#969692;
      font-size: 1.3em;
      line-height:1em;
      margin: 0.5em 0;
  }
  h5 {
      color:#B30A0A;
      font-size: 1.25em;
      line-height:1.2em;
      margin: 0 0 0.5em 0;
  }
  h1, h2, h3, h4, h5 {
      font-family: "proxima-nova", "Avenir", "Futura", "Helvetica", "Arial", sans-serif;
      font-weight: normal;
  }
  div.sectionbody {
      padding-top:150px;
  }

/**
 * {1 Content}
 */

  #content {
      margin:     0 auto;
      position:   relative;
      padding:    10px 0;
      text-align: justify;
      -webkit-hyphens:    auto;
      width:      110%;
  }
  p {
      margin: 0 0 1.5em 0;
  }

/**
 * {1 Tables}
 */
  div.tableblock {
      width: 100%;
      margin:auto;
  }
  div.tableblock table {
      border-collapse: collapse;
      margin: 5px 0 0 0;
      width: 100%;
  }

/**
 * {1 Tips, warnings, etc.}
 */
  div.admonitionblock {
      width: 100%;
  }
  div.admonitionblock table {
      border-collapse: collapse;
      margin: 5px 0 0 0;
      width: 100%;
  }
  div.admonitionblock table td {
      vertical-align:top;
/*      padding: 3px;*/
      color: #767672;
      font-size:0.9em;
  }
  div.admonitionblock table td.icon {
      width:7%;
  }
  div.admonitionblock table td.icon div.title {
      background: #B30A0A;
      text-align:center;
      color:white;
      -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
      -moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
      text-shadow: 0 1px 0 #777777;
  }
  div.admonitionblock table td.icon:after {
      border:none;
  }
  div.admonitionblock table td.content {
      padding-left:  10px;
      padding-right: 10px;
      border-top:    1px solid #c6c6c2;
      border-bottom: 1px solid #c6c6c2;
      background:    #FAFAFA;
  }
  div.admonitionblock table td.content .title {
      font-variant:small-caps;
      font-size:1.2em;
      color:#B30A0A;
  }
/*
  div.admonitionblock table td:after {
      border-bottom: 1px solid #FFF;
      content:"";
      position:relative;
      top:5px;
      display:block;
  }
*/

/**
 * {1 Header, footer}
 */
  table.print_header, table.print_footer {
      color: rgb(200,200,200);
      width: 100%;
  }
  table.print_header {
      padding-bottom: 1cm;
/*      border-bottom:  solid 1px;*/
  }
  table.print_footer {
/*      border-top:  solid 1px;*/
      padding-top: 1cm;
  }
  .left {
      text-align: left;
  }
  .right {
      text-align: right;
  }
/*
  button {padding: 2px 6px 3px 6px;}
  li p, td p {display:inline;}
*/
}

span.run {
    border: 1px solid black;
    padding: 8px;
    font-size: 1.2em;
    border-radius: 8px;
    background: #DFD;
    display: inline;
    position: relative;
    top: -62px;
    float: right;
}
